# Dependencias (NUNCA se suben)
node_modules/

# Archivos de entorno (Contienen contraseñas o llaves API)
.env
*.env

# Carpetas de logs y errores
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Carpetas de compilación (si usas React, Angular o TS)
dist/
build/
out/

# Archivos temporales del sistema
.DS_Store
Thumbs.db